* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
}
header {
	height: 60px;
	background-color: #333;
}
main {
	margin: 0px;
	background-color: #eee;
}
footer {
	padding: 10px auto;
	background-color: #333;
	text-align: center;
	color: white;
	padding: 30px 0;
}

header > a{
	float: left;
	margin: 10px 0 10px 50px;
}
header nav{
	margin-right: 10px;
	float: right;
}
header nav li{
	display: inline;
}
nav ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
nav li a{
	font-size: 12px;
	display: inline-block;
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
	width: 70px;
	padding: 10px 0;
	margin: 10px 10px 10px 0;
}
nav li a:hover{
	color: #999;
}

main {
	padding: 25px;
	position: relative;
}
aside {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 300px;
	float: right;
}
.left {
	margin-right: 377px;
	overflow: auto;
}

.main-content {
	margin-bottom: 25px;
	padding: 40px 25px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 3px solid #aaa;
	line-height: 1.8em;
	font-weight: bold;
}
.article-content p{
	text-indent: 2em;
}
.main-content h3 {
	color: #666;
	margin-top: 15px;
}
.article-title p{
	color: #888;
	font-size: 12px;
	margin: 15px 0px;
}

.article-content ul{
	margin-left: 2em;
	list-style-type: none;
}

.img {
	width: 100%;
	margin: 15px 0px;
}
.img img {
	width: 40%;
}


section figure{
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 15px 15px 0 0;
}
figure figcaption{
	margin-bottom: 10px;
	text-align: center;
}

ol{
	margin-left: 3em;
	margin-bottom: 1em;
}
#article3 table{
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
}
#article3 table, th, td{
	border: 1px solid #ddd;
}
#article3 th{
	background-color: #333;
	color: #fff;
	text-align: left;
}
#article3 th, td{
	padding-left: 0.6em;
}
#article3 tr:last-child{
	background-color: #ccc;
}
#article3 tr:last-child *{
	border: none;
}

aside h2{
	font-size: 1.1em;
	padding: 0.5em;
	border-left: 3px solid #ccc;
	margin-bottom: 10px;
}
aside table{
	width: 100%;
	border: none;
	font-size: 0.7em;
}
aside table td{
	padding: 4px 5px;
	border: none;
}
aside table td:first-child{
	text-align: right;
}
aside table tr td span:nth-child(3){
	font-weight: normal;
	color: #888;
}
aside input[type="email"], input[type="password"]{
	padding: 4px 0;
}
aside table tr:nth-child(1) td:nth-child(2){
	padding-bottom: 12px;
}
aside table tr:nth-child(3) td:nth-child(2){
	padding-bottom: 12px;
}

aside input[type="radio"], input[type="checkbox"]{
	width: 20px;
}
aside select{
	width: 55px;
}
aside textarea{
	width: 100%;
	height: 90px;
	font-size: 1.6em;
}
aside table tr td:nth-child(1){
	display: block;
	padding-top: 5px;
}
aside input[type="submit"]{
	width: 100%;
	height: 40px;
	font-size: 1.2em;
	color: white;
	background-color: #0a27f7c9;
	border-radius: 8px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}





