* {
	margin: 0;
	padding: 0;
}
.outside {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: hidden;
	/*float: left;*/
}

.left, .right, .center {
	padding: 20px;
	border: 1px solid #999;
	background-color: #fff;
}

.left {
	float: left;
	width: 158px;
}

.center {
	margin: 0 140px 0 220px;
}

.right {
	float: right;
	width: 78px;
}

.center p {
	margin: 20px 0;
}
.center p:first-child {
	margin-top: 0px;
}
.center p:last-child {
	margin-bottom: 0px;
}

.right img {
	margin: 10px 0px;
}

.right img:first-child {
	margin-top: 0;
}
.right img:last-child {
	margin-bottom: 0;
}

.left img {
	float: left;
	margin-right: 20px;
}
.left p {
	font-size: 0.9em;
	font-weight: bold;
}